version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: krishva
      POSTGRES_PASSWORD: krishva
      POSTGRES_DB: vehicle_analytics
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U krishva -d vehicle_analytics"]
      interval: 3s
      timeout: 5s
      retries: 30

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "8025:8025"
      - "1025:1025"

  mediamtx:
    image: bluenviron/mediamtx:latest
    volumes:
      - ./infra/mediamtx/mediamtx.yml:/mediamtx.yml:ro
      - ./infra/sample_media:/sample_media:ro
    environment:
      RTSP_PROTOCOLS: tcp
    command: ["/mediamtx.yml"]
    ports:
      - "8554:8554"

  backend:
    environment:
      DATABASE_URL: postgresql+psycopg2://krishva:krishva@db:5432/vehicle_analytics
    build:
      context: ./backend
    env_file:
      - .env
    volumes:
      - ./infra/sample_media:/sample_media:ro
      - ./models:/models:ro
      - ./infra/uploads:/app/uploads
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      minio:
        condition: service_started
      mailhog:
        condition: service_started
      mediamtx:
        condition: service_started
    restart: unless-stopped
    ports:
      - "8000:8000"
    command: >
      /bin/sh -c "python -m app.initial_data && uvicorn app.main:app --host 0.0.0.0 --port 8000"

  worker:
    build:
      context: ./backend
    env_file:
      - .env
    volumes:
      - ./infra/sample_media:/sample_media:ro
      - ./models:/models:ro
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
      backend:
        condition: service_started
    restart: unless-stopped
    command: >
      /bin/sh -c "python -m app.initial_data &&
      python -m app.workers.launch_workers &&
      celery -A app.core.celery_app.celery_app worker --loglevel=info"


  frontend:
    build:
      context: ./frontend
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:8000
    ports:
      - "5173:80"

volumes:
  db_data:
  minio_data:
